In [126]:
import pandas as pd
import numpy as np
import datetime

In [127]:
weather=pd.read_excel('오리지널데이터/날씨정보_org.xlsx')
weather

       지점 지점명         날짜        시간    기온  강수량   풍속
0     159  부산 2022-08-22  01:00:00  22.5  NaN  1.9
1     159  부산 2022-08-22  02:00:00  22.2  NaN  2.5
2     159  부산 2022-08-22  03:00:00  22.0  NaN  2.5
3     159  부산 2022-08-22  04:00:00  21.8  NaN  3.0
4     159  부산 2022-08-22  05:00:00  21.5  NaN  2.2
...   ...  ..        ...       ...   ...  ...  ...
4363  159  부산 2023-02-19  20:00:00   8.2  NaN  3.2
4364  159  부산 2023-02-19  21:00:00   7.0  NaN  2.4
4365  159  부산 2023-02-19  22:00:00   5.8  NaN  1.8
4366  159  부산 2023-02-19  23:00:00   5.0  NaN  2.7
4367  159  부산 2023-02-20  00:00:00   4.5  NaN  4.5

[4368 rows x 7 columns]

In [128]:
#강수량 null 값에 0 값넣기
weather["강수량"]=weather["강수량"].fillna(0)
weather

       지점 지점명         날짜        시간    기온  강수량   풍속
0     159  부산 2022-08-22  01:00:00  22.5  0.0  1.9
1     159  부산 2022-08-22  02:00:00  22.2  0.0  2.5
2     159  부산 2022-08-22  03:00:00  22.0  0.0  2.5
3     159  부산 2022-08-22  04:00:00  21.8  0.0  3.0
4     159  부산 2022-08-22  05:00:00  21.5  0.0  2.2
...   ...  ..        ...       ...   ...  ...  ...
4363  159  부산 2023-02-19  20:00:00   8.2  0.0  3.2
4364  159  부산 2023-02-19  21:00:00   7.0  0.0  2.4
4365  159  부산 2023-02-19  22:00:00   5.8  0.0  1.8
4366  159  부산 2023-02-19  23:00:00   5.0  0.0  2.7
4367  159  부산 2023-02-20  00:00:00   4.5  0.0  4.5

[4368 rows x 7 columns]

In [93]:
# weather['날씨']=weather[(weather['강수량'].isna() != False) |(weather['강수량'] != 0),'비']
# weather

In [129]:
#강수량이 0이면 맑음 0보다 크면 비 
weather['날씨']=np.where(weather['강수량']>0,'비','맑음')
weather

       지점 지점명         날짜        시간    기온  강수량   풍속  날씨
0     159  부산 2022-08-22  01:00:00  22.5  0.0  1.9  맑음
1     159  부산 2022-08-22  02:00:00  22.2  0.0  2.5  맑음
2     159  부산 2022-08-22  03:00:00  22.0  0.0  2.5  맑음
3     159  부산 2022-08-22  04:00:00  21.8  0.0  3.0  맑음
4     159  부산 2022-08-22  05:00:00  21.5  0.0  2.2  맑음
...   ...  ..        ...       ...   ...  ...  ...  ..
4363  159  부산 2023-02-19  20:00:00   8.2  0.0  3.2  맑음
4364  159  부산 2023-02-19  21:00:00   7.0  0.0  2.4  맑음
4365  159  부산 2023-02-19  22:00:00   5.8  0.0  1.8  맑음
4366  159  부산 2023-02-19  23:00:00   5.0  0.0  2.7  맑음
4367  159  부산 2023-02-20  00:00:00   4.5  0.0  4.5  맑음

[4368 rows x 8 columns]

In [130]:
# 날짜별 평균 기온값
dfaverage=weather.groupby('날짜')['기온'].mean()
dfaverage

날짜
2022-08-22    25.656522
2022-08-23    26.975000
2022-08-24    22.500000
2022-08-25    24.229167
2022-08-26    25.116667
                ...
2023-02-16     5.916667
2023-02-17     7.312500
2023-02-18     8.937500
2023-02-19    10.100000
2023-02-20     4.500000
Name: 기온, Length: 183, dtype: float64

In [131]:
#날짜 병합
weatherID=weather['날짜'].unique()
weatherID

array(['2022-08-22T00:00:00.000000000', '2022-08-23T00:00:00.000000000',
       '2022-08-24T00:00:00.000000000', '2022-08-25T00:00:00.000000000',
       '2022-08-26T00:00:00.000000000', '2022-08-27T00:00:00.000000000',
       '2022-08-28T00:00:00.000000000', '2022-08-29T00:00:00.000000000',
       '2022-08-30T00:00:00.000000000', '2022-08-31T00:00:00.000000000',
       '2022-09-01T00:00:00.000000000', '2022-09-02T00:00:00.000000000',
       '2022-09-03T00:00:00.000000000', '2022-09-04T00:00:00.000000000',
       '2022-09-05T00:00:00.000000000', '2022-09-06T00:00:00.000000000',
       '2022-09-07T00:00:00.000000000', '2022-09-08T00:00:00.000000000',
       '2022-09-09T00:00:00.000000000', '2022-09-10T00:00:00.000000000',
       '2022-09-11T00:00:00.000000000', '2022-09-12T00:00:00.000000000',
       '2022-09-13T00:00:00.000000000', '2022-09-14T00:00:00.000000000',
       '2022-09-15T00:00:00.000000000', '2022-09-16T00:00:00.000000000',
       '2022-09-17T00:00:00.000000000', '2022-09-18T00:00:00.000000000',
       '2022-09-19T00:00:00.000000000', '2022-09-20T00:00:00.000000000',
       '2022-09-21T00:00:00.000000000', '2022-09-22T00:00:00.000000000',
       '2022-09-23T00:00:00.000000000', '2022-09-24T00:00:00.000000000',
       '2022-09-25T00:00:00.000000000', '2022-09-26T00:00:00.000000000',
       '2022-09-27T00:00:00.000000000', '2022-09-28T00:00:00.000000000',
       '2022-09-29T00:00:00.000000000', '2022-09-30T00:00:00.000000000',
       '2022-10-01T00:00:00.000000000', '2022-10-02T00:00:00.000000000',
       '2022-10-03T00:00:00.000000000', '2022-10-04T00:00:00.000000000',
       '2022-10-05T00:00:00.000000000', '2022-10-06T00:00:00.000000000',
       '2022-10-07T00:00:00.000000000', '2022-10-08T00:00:00.000000000',
       '2022-10-09T00:00:00.000000000', '2022-10-10T00:00:00.000000000',
       '2022-10-11T00:00:00.000000000', '2022-10-12T00:00:00.000000000',
       '2022-10-13T00:00:00.000000000', '2022-10-14T00:00:00.000000000',
       '2022-10-15T00:00:00.000000000', '2022-10-16T00:00:00.000000000',
       '2022-10-17T00:00:00.000000000', '2022-10-18T00:00:00.000000000',
       '2022-10-19T00:00:00.000000000', '2022-10-20T00:00:00.000000000',
       '2022-10-21T00:00:00.000000000', '2022-10-22T00:00:00.000000000',
       '2022-10-23T00:00:00.000000000', '2022-10-24T00:00:00.000000000',
       '2022-10-25T00:00:00.000000000', '2022-10-26T00:00:00.000000000',
       '2022-10-27T00:00:00.000000000', '2022-10-28T00:00:00.000000000',
       '2022-10-29T00:00:00.000000000', '2022-10-30T00:00:00.000000000',
       '2022-10-31T00:00:00.000000000', '2022-11-01T00:00:00.000000000',
       '2022-11-02T00:00:00.000000000', '2022-11-03T00:00:00.000000000',
       '2022-11-04T00:00:00.000000000', '2022-11-05T00:00:00.000000000',
       '2022-11-06T00:00:00.000000000', '2022-11-07T00:00:00.000000000',
       '2022-11-08T00:00:00.000000000', '2022-11-09T00:00:00.000000000',
       '2022-11-10T00:00:00.000000000', '2022-11-11T00:00:00.000000000',
       '2022-11-12T00:00:00.000000000', '2022-11-13T00:00:00.000000000',
       '2022-11-14T00:00:00.000000000', '2022-11-15T00:00:00.000000000',
       '2022-11-16T00:00:00.000000000', '2022-11-17T00:00:00.000000000',
       '2022-11-18T00:00:00.000000000', '2022-11-19T00:00:00.000000000',
       '2022-11-20T00:00:00.000000000', '2022-11-21T00:00:00.000000000',
       '2022-11-22T00:00:00.000000000', '2022-11-23T00:00:00.000000000',
       '2022-11-24T00:00:00.000000000', '2022-11-25T00:00:00.000000000',
       '2022-11-26T00:00:00.000000000', '2022-11-27T00:00:00.000000000',
       '2022-11-28T00:00:00.000000000', '2022-11-29T00:00:00.000000000',
       '2022-11-30T00:00:00.000000000', '2022-12-01T00:00:00.000000000',
       '2022-12-02T00:00:00.000000000', '2022-12-03T00:00:00.000000000',
       '2022-12-04T00:00:00.000000000', '2022-12-05T00:00:00.000000000',
       '2022-12-06T00:00:00.000000000', '2022-12-07T00:00:00.000000000',
       '2022-12-08T00:00:00.000000000', '2022-12-09T00:00:00.000000000',
       '2022-12-10T00:00:00.000000000', '2022-12-11T00:00:00.000000000',
       '2022-12-12T00:00:00.000000000', '2022-12-13T00:00:00.000000000',
       '2022-12-14T00:00:00.000000000', '2022-12-15T00:00:00.000000000',
       '2022-12-16T00:00:00.000000000', '2022-12-17T00:00:00.000000000',
       '2022-12-18T00:00:00.000000000', '2022-12-19T00:00:00.000000000',
       '2022-12-20T00:00:00.000000000', '2022-12-21T00:00:00.000000000',
       '2022-12-22T00:00:00.000000000', '2022-12-23T00:00:00.000000000',
       '2022-12-24T00:00:00.000000000', '2022-12-25T00:00:00.000000000',
       '2022-12-26T00:00:00.000000000', '2022-12-27T00:00:00.000000000',
       '2022-12-28T00:00:00.000000000', '2022-12-29T00:00:00.000000000',
       '2022-12-30T00:00:00.000000000', '2022-12-31T00:00:00.000000000',
       '2023-01-01T00:00:00.000000000', '2023-01-02T00:00:00.000000000',
       '2023-01-03T00:00:00.000000000', '2023-01-04T00:00:00.000000000',
       '2023-01-05T00:00:00.000000000', '2023-01-06T00:00:00.000000000',
       '2023-01-07T00:00:00.000000000', '2023-01-08T00:00:00.000000000',
       '2023-01-09T00:00:00.000000000', '2023-01-10T00:00:00.000000000',
       '2023-01-11T00:00:00.000000000', '2023-01-12T00:00:00.000000000',
       '2023-01-13T00:00:00.000000000', '2023-01-14T00:00:00.000000000',
       '2023-01-15T00:00:00.000000000', '2023-01-16T00:00:00.000000000',
       '2023-01-17T00:00:00.000000000', '2023-01-18T00:00:00.000000000',
       '2023-01-19T00:00:00.000000000', '2023-01-20T00:00:00.000000000',
       '2023-01-21T00:00:00.000000000', '2023-01-22T00:00:00.000000000',
       '2023-01-23T00:00:00.000000000', '2023-01-24T00:00:00.000000000',
       '2023-01-25T00:00:00.000000000', '2023-01-26T00:00:00.000000000',
       '2023-01-27T00:00:00.000000000', '2023-01-28T00:00:00.000000000',
       '2023-01-29T00:00:00.000000000', '2023-01-30T00:00:00.000000000',
       '2023-01-31T00:00:00.000000000', '2023-02-01T00:00:00.000000000',
       '2023-02-02T00:00:00.000000000', '2023-02-03T00:00:00.000000000',
       '2023-02-04T00:00:00.000000000', '2023-02-05T00:00:00.000000000',
       '2023-02-06T00:00:00.000000000', '2023-02-07T00:00:00.000000000',
       '2023-02-08T00:00:00.000000000', '2023-02-09T00:00:00.000000000',
       '2023-02-10T00:00:00.000000000', '2023-02-11T00:00:00.000000000',
       '2023-02-12T00:00:00.000000000', '2023-02-13T00:00:00.000000000',
       '2023-02-14T00:00:00.000000000', '2023-02-15T00:00:00.000000000',
       '2023-02-16T00:00:00.000000000', '2023-02-17T00:00:00.000000000',
       '2023-02-18T00:00:00.000000000', '2023-02-19T00:00:00.000000000',
       '2023-02-20T00:00:00.000000000'], dtype='datetime64[ns]')

In [132]:
weather

       지점 지점명         날짜        시간    기온  강수량   풍속  날씨
0     159  부산 2022-08-22  01:00:00  22.5  0.0  1.9  맑음
1     159  부산 2022-08-22  02:00:00  22.2  0.0  2.5  맑음
2     159  부산 2022-08-22  03:00:00  22.0  0.0  2.5  맑음
3     159  부산 2022-08-22  04:00:00  21.8  0.0  3.0  맑음
4     159  부산 2022-08-22  05:00:00  21.5  0.0  2.2  맑음
...   ...  ..        ...       ...   ...  ...  ...  ..
4363  159  부산 2023-02-19  20:00:00   8.2  0.0  3.2  맑음
4364  159  부산 2023-02-19  21:00:00   7.0  0.0  2.4  맑음
4365  159  부산 2023-02-19  22:00:00   5.8  0.0  1.8  맑음
4366  159  부산 2023-02-19  23:00:00   5.0  0.0  2.7  맑음
4367  159  부산 2023-02-20  00:00:00   4.5  0.0  4.5  맑음

[4368 rows x 8 columns]

In [133]:
#해당 날짜에 비가 하나라도 있으면 비 없으면 맑음
weatherlist=[]
for i in weatherID : 
  df=weather.loc[weather['날짜']==i,:] #weather 날짜와 i(병합한 날짜) 가 같으면 병합한날짜로 표시
  if (df['날씨']=='비').any():#날씨가 비가 하나라도(any()) 있으면
    weatherlist.append('비')# 비로 변경
  else:
    weatherlist.append('맑음')

weatherlist

['맑음',
 '비',
 '비',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '비',
 '비',
 '비',
 '비',
 '비',
 '비',
 '비',
 '비',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '비',
 '비',
 '비',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '비',
 '비',
 '맑음',
 '비',
 '맑음',
 '맑음',
 '비',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '비',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '비',
 '비',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '비',
 '비',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '비',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '비',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '비',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '비',
 '비',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '비',
 '맑음',
 '비',
 '비',
 '맑음',
 '맑음',
 '맑음',
 '맑음',
 '비',
 '비',
 '맑음']

In [150]:
#날짜별 날씨 온도 병합
TotalWeather=pd.DataFrame(dfaverage) #데이터 프레임 표시
TotalWeather['날씨']=weatherlist # 날씨에 weatherlist 배열값을 대입
TotalWeather.reset_index(inplace=True)# 컬럼 배열 정리
TotalWeather['기온'] = TotalWeather['기온'].apply(lambda x: round(x, 1))# 온도 0.1까지 표시
TotalWeather.to_csv('정제데이터/날짜별 날씨 온도_Temp.csv',index=False, encoding='cp949')
TotalWeather

            날짜    기온  날씨
0   2022-08-22  25.7  맑음
1   2022-08-23  27.0   비
2   2022-08-24  22.5   비
3   2022-08-25  24.2  맑음
4   2022-08-26  25.1  맑음
..         ...   ...  ..
178 2023-02-16   5.9  맑음
179 2023-02-17   7.3  맑음
180 2023-02-18   8.9   비
181 2023-02-19  10.1   비
182 2023-02-20   4.5  맑음

[183 rows x 3 columns]